<div class="row">
    <div class="col-sm-6">
        <div class="jumbotron">
            <div class="container">
                <h2>Registrarse</h2>
                <br>
                <a href="#/pay" class="btn btn-success">Registrarse</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="jumbotron">
            <div class="container">
                <h2>Pago Unico</h2>
                <br>
                <a href="#/services" class="btn btn-success">Pago Unico</a>
            </div>
        </div>
    </div>
</div>
