<p>Some information here</p>
<div class="row">
    <div class="col-sm-6">
        <form role="form">
            <legend>Pago Unico</legend>
            <div class="form-group">
                <label>Tarjeta</label>
                <input type="text" class="form-control" placeholder="Input field">
            </div>
            <button type="submit" class="btn btn-primary">Pagar</button>
        </form>
    </div>
    <div class="col-sm-6">
        <div class="panel" style="background-color: rgb(221, 221, 221);margin:20px 0;padding: 4px;border: solid 2px gray;border-style: dotted;min-height:200px;">
        </div>
    </div>
</div>
